* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(243 243 243);
}

body > div.content{
    width: 70%;
    left: 15%;
    background-color: white;
    padding: 20px;
}
