<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/NoteTestTask.WebApp.styles.css" />
</head>
<body>
    <div>
        <h1>Success Razor layout!</h1>
        @RenderBody()
    </div>
</body>
</html>